.task-main {
  height: 100vh;
  overflow-y: auto;
  width: 80%;
  margin: 100px auto;
  border: 1px solid red;

  .task-inp {
    // width: 260px;

    .task-form {
      position: relative;

      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 360px;
      margin: 0 auto;
      border: 1px solid black;
      input {
        width: 80%;
      }
      button {
        padding: 3px 3px;
        i {
          font-size: 1.2rem;
          color: blue;
        }
      }
    }
    border: 1px solid green;
  }

  .task-container {
    width: 50%;
    margin: 0 auto;
    
    .taskdiv {
      padding: 10px 20px;
      margin: 10px 0;
      border: 1px solid #d3d3d3;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      button {
        margin-right: 100px;
        background-color:azure;
        color: red;
        border-radius: 12px;
        padding: 2px;
        border: 1px solid black;
      }
    }
  }
}
